*.pyc
*~
.nfs*
~$*
*.Rhistory
*.aux
*.bbl
*.blg
*.log
*.pdf
.*.swp
.idea/inspectionProfiles/profiles_settings.xml
.idea/misc.xml
.idea/modules.xml
.idea/other.xml
.idea/pylearn-parsimony.iml
.idea/vcs.xml
